In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import lightgbm as lgb

from preprocessor import prepare_data 
from sklearn.model_selection import KFold, GridSearchCV, RandomizedSearchCV
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import GradientBoostingRegressor
from lightgbm import LGBMRegressor

# Load in pre-split data
X_train, X_test, y_train, y_test = prepare_data()

Train data(range):
2019-04-11 21:49:48
2019-06-14 19:06:40
Test data(range):
2019-06-14 19:07:10
2019-08-22 19:05:05

In [6]:
y_train = list(np.array(y_train).flatten())
y_test = list(np.array(y_test).flatten())

## Gradient Boosting Model(s)

#### GradientBoostingRegressor

In [18]:
lower_alpha = 0.1
upper_alpha = 0.9
lower_model = GradientBoostingRegressor(loss="quantile", alpha=lower_alpha, n_estimators=200, max_depth=2)
mid_model = GradientBoostingRegressor(loss="ls", n_estimators=200, max_depth=2)
upper_model = GradientBoostingRegressor(loss="quantile", alpha=upper_alpha, n_estimators=200, max_depth=2)

In [19]:
lower_model.fit(X_train, y_train)
mid_model.fit(X_train, y_train)
upper_model.fit(X_train, y_train)
predictions = pd.DataFrame(y_test)
predictions['lower'] = lower_model.predict(X_test)
predictions['mid'] = mid_model.predict(X_test)
predictions['upper'] = upper_model.predict(X_test)

In [20]:
predictions

           0      lower        mid       upper
0      43.55  40.724993  41.240929   57.956430
1      60.30  41.374993  53.254432   60.248332
2      52.45  40.724993  56.316602   77.922834
3      41.20  41.374993  49.818499   60.300004
4      52.45  40.724993  56.656248   77.922834
...      ...        ...        ...         ...
12495  90.50  56.425357  78.886848  102.396529
12496  47.30  41.374993  41.951513   60.248332
12497  47.30  41.374993  39.761983   60.300004
12498  60.30  41.374993  41.264174   60.300004
12499  53.40  41.374993  38.209020   60.300004

[12500 rows x 4 columns]

In [23]:
mid_model.score(X_test, y_test)

0.8503742287773248

#### LightLGBM Regressor

In [28]:
lgbm = LGBMRegressor(n_estimators=150)
lgbm.fit(X_train, y_train)
lgbm.score(X_test, y_test)

0.8965714902659896